.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  align-items: center;
  
  .app-title {
    margin-left: 16px;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  
  mat-nav-list {
    padding-top: 0;
    
    a {
      mat-icon {
        margin-right: 16px;
      }
    }
  }
}

.content-wrapper {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}